@media (max-height: 400px) {
    @media (min-width: 600px) {
        .Header {
            height: 15vh;
            padding-inline: 1em;
        }
        .headerItem {
            font-size: 0.8em;
        }
        .logo{
            transform: scale(0.5);

        }
        .para {
            font-size: 1.2em;
        }
    }
}


@media (max-height: 1024px) {
    @media (min-width: 768px) {}
}


@media (max-height: 1200px) {
    @media (min-width: 1080px) {}
}

@media (max-height: 1920px) {
    @media (min-width: 1080px) {}
}