.clipright{
    clip-path: polygon(0 0, 100% 0%, 65% 100%, 0% 100%);

}

.clipleft{
    clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 0% 100%);

}

.mapclip{
    clip-path: polygon(0 0, 81% 0, 40% 100%, 0% 100%);

}

@media (max-width: 600px) {
    .clipright{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .clipleft{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .mapclip{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    
    }
}
@media (max-height: 400px) {
    @media (min-width: 600px) {
        .Header {
            height: 15vh;
            padding-inline: 1em;
        }
        .headerItem {
            font-size: 0.8em;
        }
        .logo{
            transform: scale(0.5);

        }
        .firstSection{
            height: 110vh;
        }
        .secondSection{
            height: 120vh;
        }
        .secondSectionHeading{
            font-size: 2em;
        }
        .secondSectionpara{
            font-size: 0.8em;
        }
        .thirdSection{
            height: 120vh;
        
        }
        .serviceItem{
            height: 35vh;
        }
        .serviceHeading{
            font-size: 2em;
            margin-top: -5vh;
            margin-bottom: 0;
        }
        .servicePara{
            font-size: 0.8em;
        }
        .fourthSection{
            height: 130vh;
            /* max-height: ; */
        }
        .form{
            padding-top: 10vh;
            height: 70%;
        }
        .enquiry{
            font-size: 2em;
            margin-bottom: 0;
        }
        .input{
            height: 45px;
        }
        .mapclip{
            width: 60%;
            height: 40%;
        }
        .textarea{
            min-height:70px;
        }
        .footer{
            height: 70vh;
        }
        .footerItem{
            font-size: 0.7em;
        }
        .para {
            font-size: 1.2em;
        }
        .carousel{
            height: 80vh;
        }
    }
}


@media (max-height: 1024px) {
    @media (min-width: 768px) {
        .para{
            font-size: 2rem;
        }
    }
}


@media (min-height: 1700px) {
    @media (max-width: 1200px) {
        .Header{
            height: 8vh;
        }
        .firstSection{
            height: 40vh;
        }
        .serviceItem{
            height: 10vh;
        }
        .footer{
            height: 20vh;
        }

        .carousel{
            height: 20vh;
        }
    }
}

@media (max-height: 1200px) {
    @media (min-width: 1080px) {
        
    }
}

@media (max-height: 400px) {
    @media (max-width: 750px) {
        .para{
            font-size: 1.8em;
            
        }
        .firstSection{
            height: 150vh;
        }

        .clipright{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }
        .clipleft{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        }
        .mapclip{
            clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
        
        }
        .secondSection{
            height: 160vh;
        }
        .secondSectionpara{
            max-width: 70%;
        }
        .aboutImg{
            height: 100vh;
            width: 70vw;
        }
        .thirdSection{
            height: 180vh;
        }
        .serviceHeading{
            margin-top: 2vh;
            margin-bottom: 0;
        }
        .servicePara{
            max-width: 70%;
        }
        .serviceItem{
            height: 50vh;
        }
        .fourthSection{
            height: 180vh;
        }

    }
}

@media (max-height: 1920px) {
    @media (min-width: 1080px) {}
}